<h1><b>ACCOUNT REGISTRATION FORM</b></h1>
<form>
    <div class="row">
        <div class="col">
            Business Type: <input type="text" class="form-control">
        </div>
    </div>

    <div class="row">
        <div class="col">
            Email: <input type="text" class="form-control">
        </div>
        <div class="col">
            Contact No: <input type="text" class="form-control">
        </div>
    </div>

    <div class="row">
        <div class="col">
            FirstName: <input type="text" class="form-control">
        </div>
        <div class="col">
            LastName: <input type="text" class="form-control">
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            Address: <input type="text" class="form-control">
        </div>
        <div class="col">
            City: <input type="text" class="form-control">
        </div>
    </div>

    <div class="row">
        <div class="col">
            State/Province: <input type="text" class="form-control">
        </div>
        <div class="col">
            Country: <input type="text" class="form-control">
        </div>
    </div>
    <br>
    <div class="col-12">
        <button class="btn btn-primary">Register</button>
      </div>
</form>


  <!-- 
    business type
    email - contact no
    firstname - lastname
    address - city
    state/province - country
   -->