<app-product-details [grocery]="selectedGrocery"></app-product-details>
<div class="container">
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
			<th scope="col">ID</th>
			<th scope="col">Name</th>
			<th scope="col">Unit Price</th>
			<th scope="col">More Info</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor ="let grocery of groceries">
			<th scope="row">{{grocery.id}}</th>
			<td>{{grocery.name}}</td>
			<td>{{grocery.unit_price}}</td>
			<td>
				<button type="button" class="btn btn-info" data-bs-target="#exampleDetails" data-bs-toggle="modal" [class.selected]="grocery === selectedGrocery" (click)="onSelect(grocery)">Details</button>
			</td>
			</tr>
			</tbody>
	</table>
</div>

