<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
		<img src="../../assets/e logo.jpg" height="80px" width="80px">
	  <a class="navbar-brand" href="#" >SIMBILLO</a>
	  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarColor02">
		<ul class="navbar-nav me-auto">
		  <li class="nav-item">
			<a class="nav-link active" aria-current="page" routerLink="seller_page">Seller Page</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link active" aria-current="page" routerLink="products_lists">Products List</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link active" aria-current="page" routerLink="product_details">Product Details</a>
		  </li>
		</ul>
		
		<!-- MODAL -->

		

		<!-- LOGIN BUTTON TRIGGER -->

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
	Login
  </button>
  
 		 <!-- LOGIN MODAL --> 

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <h1 class="modal-title fs-5" id="exampleModalLabel">LOGIN</h1>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
		  
			  <div class="mb-3">
				<label for="exampleFormControlInput1" class="form-label">Username</label>
				<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="input username">
			  </div>

			  <div class="mb-3">
				<label for="exampleFormControlInput1" class="form-label">Password</label>
				<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="input password">
			  </div>
			 

		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		  <button type="button" class="btn btn-primary">Login</button>
		</div>
	  </div>
	</div>
  </div>

	  </div>
	</div>
  </nav>

  <hr>
