<div class='jumbotron' *ngIf="grocery$ | async as grocery">

	<h2>{{page_title}} for <span>{{grocery.id}}</span></h2>
	<!-- Row 1 -->
	<div class="row">
		<div class="col">
			<div class="form-floating mb-3">
				<input type="text" class="form-control" id="floatingID" placeholder="Item ID" [(ngModel)]="grocery.id">
				<label for="floatingID">Grocery</label>
			</div>
		</div>
	</div>
	<!-- Row 2 -->
	<div class="row">
		<div class="col d-grid gap-2 d-md-flex justify-content-md-end">
			<button type="button" (click)="gotoGroceries(grocery)" class="btn btn-success">Save Update</button>
			<button type="button" class="btn btn-warning">Clear Form</button>
		</div>
	</div>
	
</div>